name: Deploy IPV Stub to Dev Env
on:
  push:
    branches:
      - main
    paths:
      - 'cic-ipv-stub/**'
      - .github/workflows/post-merge-ipv-stub-package-to-dev.yml
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-west-2

jobs:
  deploy-to-dev:
    name: Validate & Deploy SAM template to Dev Environment
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: cic-ipv-stub
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Setup SAM CLI
        uses: aws-actions/setup-sam@v2
        with:
          use-installer: true

      - name: Assume temporary AWS role
        uses: aws-actions/configure-aws-credentials@v4.3.1
        with:
          role-to-assume: ${{ secrets.DEV_IPV_STUB_GH_ACTIONS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: SAM Validate
        run: sam validate --region ${{ env.AWS_REGION }} -t template.yaml

      - name: SAM Build
        run: sam build -t template.yaml

      - name: Deploy SAM app
        uses: govuk-one-login/devplatform-upload-action@v3.9.2
        with:
            artifact-bucket-name: ${{ secrets.DEV_IPV_STUB_ARTIFACT_SOURCE_BUCKET_NAME }}
            signing-profile-name: ${{ secrets.DEV_CRI_CIC_SIGNING_PROFILE_NAME }}
            working-directory: cic-ipv-stub
            template-file: .aws-sam/build/template.yaml
